@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);


body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 100;
  display: flex;
  overflow: hidden;
  background:#0D0D0D;
}
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.7);
}
input:focus{
  outline: 0 transparent solid;
}
input:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,0.7);
}

.login-form {
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}
.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
}
.login-text.fa-stack-1x {
      color: black;
    }

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  width: calc(100% - 3rem);
}
.login-username, .login-password:focus {
      background: white;
      color: black;
    }

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: inline-block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
}
.login-submit:hover, .login-submit:focus {
      background: white;
      color: black;
    }

.login-submit{
  margin-left:40px
}